@{
    ViewBag.Title = "arthumanitie";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="min-height:350px;background:url('../Content/imagesl/backarth.jpg');background-attachment:fixed;background-size:cover;padding-top:140px;text-align:center;">
        <span style="font-size:40px;color:white;background:black;opacity:0.6;font-family:'Times New Roman';">
            Amazing Career in Art and humanitie field
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"style="min-height:10px;"></div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
             Courses of Arts stream :
        </h1>
        <ul style="font-family:'Times New Roman';font-size:21px;">
            <li>
                Bachelor of Arts. Course duration is 3 years. The best thing about this course is that so many B.A. specialization courses 
                are available to choose. Some specialization areas are- B.A. Psychology, B.A. History, B.A. Archaeology, B.A. Economics, 
                B.A. Journalism, B.A. Sociology
            </li>
            <li>
                Integrated Law course– B.A.+L.L.B. Course duration is 5 years.
            </li>
            <li>
                Bachelor of Elementary Education. Course duration is 4 years.
            </li>
            <li>
                Diploma in Elementary Education. Course duration is 3 years.
            </li>
        </ul>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/art.jpg"style="height:200px;width:100%;"title="All sector are employed no any sector are unemployed" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Typical art careers
        </h1>
        <ul style="font-family:'Times New Roman';font-size:21px;">
            <li>
                 You will also need plenty of self-belief, stamina and the ability to promote yourself, as this is a highly competitive career path.
                 Relevant work experience in the creative sector, such as working as a studio assistant, would be useful, and you should be resourceful
                 in finding new and interesting places to showcase and sell your work to get yourself known. Some fine artists also decide to continue
                 developing their work alongside work in a relevant full- or part-time job, 
                such as that of an art teacher/tutor.
            </li>
            <li>
                Printmakers create art using printing press, typically on paper, and again usually work to set briefs. 
                Techniques used include etching, block-printing, woodcuts, silk-screening and lithography, with electronic and digital 
                processes increasingly being used. 

            </li>
            <li>
                if you wish to use your passion for art to motivate and inspire young people and encourage the development of budding talents, 
                a career as an art teacher could be highly rewarding. In most countries, you will need a teaching qualification to teach at
                 primary/secondary level, and a postgraduate degree to teach at university level. You should also have lots of confidence and 
                excellent communication and presentation skills, in order to effectively teach and inspire your students. You may also choose to 
                offer private art tuition to individuals or small groups, or specialize in 
                an area such as art therapy.
            </li>
        </ul>
        
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/printmaker.jpg"style="height:250px;margin-top:50px;width:100%;"title="Printmaker" />
        
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">Jobs for Humanities Majors</h1>
        <ul style="font-family:'Times New Roman';font-size:21px;">
            <li>Artist:
                Are you an artist or craftsman? Use the communication skills you gained while getting your degree to market yourself
                 and be your own boss. Set up your own website and go freelance as an artist for magazines and newspapers, or sell your art
                 to individuals. Having a background in art 
                history could help you in your career as an artist. 
            </li>
            <li>
                Event Organizer : 
You know how to plan and organize, and you know how to make people happy.
                 All you have to do is utilize those skills and set up events for different c
                ompanies and their clients or employees.
            </li>
           <li>
               Travel Agent : 
Help individuals and groups plan their dream vacation. Be it a cruise or a 10-day trip to Europe, 
               you will plan each facet of the trip and tailor the trip to your client's needs. If you're bilingual,
                you can specialize in tours in countries where people speak your second language.
           </li>
            <li>
                Journalist : 
If you think writing is in your future, look everywhere from blogs to local newspapers. You already have a lot of the skills required here, 
                and you might also be good at interviewing subjects.
            </li> 
        </ul>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/human.png" style="height:200px;width:100%;margin-top:50px;"title="Self Motivation and Motivation both comes from Humanitie"/>
    </div>
</div>