@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/second.cshtml";
}
<div class="row">
    <div class="col-sm-3"></div>
    <form action="/User/changepassword"method="post">
    <div class="col-sm-6"style="min-height:400px;background:grey;padding-top:20px;box-shadow:8px 8px 8px #ee6363 inset;">
        <h1 style="color:white;font-size:30px;font-family:'Monotype Corsiva';text-align:center;">Change Password</h1><br />
        <input type="password" class="form-control" placeholder="Enter your old password" name="txtold"/><br />
        <input type="password" class="form-control" placeholder="Enter your new password"name="txtnew" /><br />
        <input type="password" class="form-control" placeholder="Confirm passwod"name="txtconfirm" /><br />
        <input type="submit" class="btn btn-success"style="float:right;width:150px;" />
    </div></form>
    <div class="col-sm-3"></div>
</div>