@{
    ViewBag.Title = "commerce";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="min-height:380px;background:url('../Content/imagesl/comback.jpg');background-attachment:fixed;background-size:cover;padding-top:150px;text-align:center;">
        <span style="color:white;background:black;opacity:0.5;font-family:'Times New Roman';font-size:50px;">Commerce</span>
        
    </div>
</div>
<div class="row">
    <div class="col-sm-12"style="height:10px;"></div>
</div>

<div class="row">
    
        <div class="col-sm-9"style="min-height:400px;background:white;height:auto;">
            <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
                Commerce Course Details :
            </h1>
            <ul>
                <li style="font-size:22px;font-family:'Times New Roman';">After passing the 12th standard from Commerce stream from recognised board,
                     one may enroll for Bachelor of Commerce (B. Com) degree. 
                    Bachelor of Commerce (B.Com) is a full time three year degree course.</li>
                <li style="font-size:22px;font-family:'Times New Roman';">One can also pursue Postgraduate course (M. Com) in Commerce.
                     For this, one has to successfully 
                    passed Bachelor of Commerce (B. Com) degree from a recognised University.</li>
              <li style="font-size:22px;font-family:'Times New Roman';">  During their course, the students have to study the following branches of
                   Commerce such as <br />
                Finance, Business Administration, 
                Accountancy, E-Commerce, Economics and Marketing.</li>
            </ul>
            <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
                Bachelor of Commerce (BCOM) :
            </h1>

            <h1 style="font-size:21px;font-family:'Times New Roman';">
                The Bachelor of Commerce is one of the most considerable courses that students from commerce field look for. 
                Pursuing graduation in BCom can help you put one step ahead towards Chartered Accountancy (CA),  Company
                 Secretaryship (CS)    and Cost and Work Accountancy (ICWA).
 </h1>
            
            
            

        </div>
        <div class="col-sm-3"style="min-height:400px;background:white;height:auto;">
            <img src="~/Content/imagesl/cs.png"style="height:250px;width:100%;margin-top:30px;"title="All acounting are the part of commerce" />
        </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:250px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">Top B.com Colleges in India Based on 2018 Ranking : </h1>
        <ul style="font-size:22px;font-family:'Times New Roman';">
            <li>
                Sri Ram College For Commerce (SRCC)  <span class="fa fa-map-marker "style="color:grey;"></span> New Delhi
            </li>
            <li>
                Hindu College <span class="fa fa-map-marker "style="color:grey;"></span> New Delhi
            </li>
            <li>Lady Shri Ram College For Women (LSR) <span class="fa fa-map-marker "style="color:grey;"></span> New Delhi</li>
            <li>Hans Raj College <span class="fa fa-map-marker "style="color:grey;"></span> New Delhi</li>
            <li>Christ University <span class="fa fa-map-marker "style="color:grey;"></span> Bangalore</li>
        </ul>
        <h1 style="font-size:22px;font-family:'Times New Roman';">
            You should choose your stream for career as per your interest as this decision will be the starting point of your career . 
            I can suggest you some very good courses apart from the common ones which might interest you. You can do BBA in oil and gas marketing, 
            Bachelors of Planning, BBA in Logistics Management, BBA (Bachelor of Business Administration) in aviation operations, BBA in Auto Marketing, or BBA in digital marketing or 
            e-commerce. BBA in Media Management can also be the option you can go for. Choose the one which is as per your interest and requirement. 
            Be careful and sure about your decision.
        </h1>
    </div>
    <div class="col-sm-3"style="min-height:250px;height:auto;">
        <img src="~/Content/imagesl/bestcom.jpg"style="height:200px;width:100%;margin-top:50px;"title="Learn from team" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
                Job Oriented Career Options in Commerce
            </h1>
            <h1 style="font-size:21px;font-family:'Times New Roman';">
                Gone are the days when Bachelor in Commerce course offers two major options-B.Com with Accountancy and B.Com with Management.
                 However, with the requirements of the industry, some specialised disciplines are available with Commerce. Students now can specialise
                 in Bachelor in Accountancy and Finance (BAF), Bachelor in Banking and Insurance (BBI) and Bachelor in Financial Markets (BFM). One can
                 also get a good placement after successfully completing the B.Com course and Advanced Diploma in Tourism and Travel Management. After 
                completing these courses, the graduates often have the opportunity 
                of campus placements where salary between 3.00 to 9.00 lakh are offered.<br />
                Career in Banking is one of the safe caree option. Banking Industry has been growing rapidly with the growing economy of the country.
                 The new financial policies has been giving a lot of opportunities to the banking sector to expand their business and also to provide
                 various different services to their clients. 
                Career in Banking is one of the top preferred career option by the Commerce Students.

            </h1>
            </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/jobcom.jpg"style="height:200px;width:100%;margin-top:50px;"title="E-commerce" />
    </div>
</div>
@*<div class="row">
    <div class="col-sm-12"style="min-height:10px;"></div>
</div>*@
