@{
    ViewBag.Title = "govtsect";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="min-height:300px;background:url('../Content/imagesl/govtb.jpg');background-attachment:fixed;background-size:100% 100%;text-align:center;padding-top:40px;">
        <span style="font-size:40px;font-family:'Times New Roman';color:white;background:black;opacity:0.6;">Goverment Sector</span>
    </div>
</div>
<div class="row">
  <div class="col-sm-9"style="min-height:300px;height:auto;">
      <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
          Goverment Sector :
      </h1>
      <h1 style="font-size:21px;font-family:'Times New Roman';">
          In government jobs, promotion is always based on the service period hence, the longer you work, and higher are the promotional opportunities.
           Obviously, this can be called as advantage as well as disadvantage because 
          for someone who is above average may not be able to grow faster than his average counterparts<br />
          Government sector jobs are not at all stressful when compared to the jobs in private sector. The work load in governments jobs even 
          if high would have more than enough time frame to complete it in the 
          best manner possible unlike that of private sector jobs.<br />
          There are more Government holidays in Government jobs compared to private sector. In addition you also have a 5 day work week. 
          To add to all this, 
          you also have certain amount of paid holidays in a year.<br />
           For government jobs, many benefits such as retirement benefits, pension plans and funds exist moreover benefits such as medical, housing, 
          loans, childcare etc. are also available. 
      </h1>
      <h1 style="font-size:25px;font-family:'Monotype Corsiva';font-weight:bold;">
            In goverment sector employees have full security and durability over their jobs.<span class="fa fa-smile-o"style="background:yellow;border-radius:50%;"></span>
        </h1>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/govtimg.jpg"style="height:200px;width:100%;margin-top:80px;border:1px solid;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Advantages of Government Sector Jobs over Private Sector :</h1>
        <ul style="font-size:21px;font-family:'Times New Roman';">
            <li>
                   Job Security
            </li>
            <li>
                 Promotions
            </li>
            <li>
                Less Work Stress
            </li>
            <li>
                Less Working Hours
            </li>
        </ul>
        <h1 style="font-size:25px;font-family:'Times New Roman';font-weight:bold;font-style:italic;">
            There are various jobs are available in government sector after compliting graduation in B.tech.
             and you have more advantage of your technical study in government sector jobs are :
        </h1>
        <ul style="font-size:21px;font-family:'Times New Roman';">
            <li>
                Civil service.
            </li>
            <li>
                Indian engineering service.
            </li>
            <li>
                Banking and financial sector.(like-RBI,SBI etc)
            </li>
            <li>
                Staff selection commission as per the requirements ( engg.post, JE and undergraduate posts) also eligible for CGL
            </li>
            <li>
                DRDO 
            </li>
            <li>
                ISRO (Indian space research organisation)
            </li>
            <li>
                Intelligence Bureau
            </li>
            <li>
                Indian water commission
            </li>
        </ul>
    </div>
    <div class="col-sm-3"style="min-height:250px;height:auto;">
        <img src="~/Content/imagesl/govtimg2.jpg"style="height:200px;width:100%;border:1px solid;margin-top:80px;" />
    </div>
</div>