@{
    ViewBag.Title = "pcb";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="min-height:350px;background:url('../Content/imagesl/bbackpcb.jpg');background-attachment:fixed;background-size:cover;padding-top:150px;text-align:center;">
        <span style="font-size:40px;color:white;background:black;opacity:0.6;font-family:'Times New Roman';">Physics Chemistry Biology</span>
    </div>
</div>
<div class="col-sm-12"style="min-height:10px;"></div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-family:'Times New Roman';font-size:30px;font-weight:bold">
            Courses after 12th Science with PCB :
        </h1>
        <h1 style="font-family:'Times New Roman';font-size:21px;">
            Post 10th standard, all of us arrive at a crossroad, where we need to choose a stream that will determine our profession and eventually,
             the rest of our lives. While many of us choose Physics, Chemistry, and Maths (PCM), there are many who choose Physics, Chemistry, and 
            Biology (PCB) and pursue a profession in the medical field. But unlike engineering, the medical field offers several options to students.
             Choosing the right course after 12th is extremely important because a well-thought-out decision can lead to a rewarding career or may become
             a basis for the post graduation course. It is difficult to pick one because there are so many good options, 
            which have a good scope but we do not know which is appropriate for us.
            <br />
            Biology is very interesting subject and its scope is very high now adays
            
            
        </h1>
       

    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/backbio.jpg"style="height:200px;width:100%;margin-top:50px;"title="Medical Science" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <span style="font-family:'Times New Roman';font-size:25px;font-style:italic;font-weight:bold;">A candidate having subjects in Science with Physics,Chemistry and Biology 
                can make their
                 career in Medical i,e
             MBBS which is very common these days apart from this you have the following career options-</span> 


         <ul style="font-size:21px;font-family:'Times New Roman';">
            <li>
                MBBS – Bachelor of Medicine and Bachelor of Surgery
            </li>
            <li>
                BHMS – Bachelor of Homeopathy Medicine and Surgery
            </li>
            <li>
                BAMS – Bachelor of Ayurvedic Medicine and Surgery
            </li>
            <li>
                BUMS – Bachelor of Unani Medicine and Surgery
            </li>
            <li>
                BDS – Bachelor of Dental Surgery
            </li>
            <li>
                B Sc – Bachelor of Science
            </li>
            <li>
                B Sc Microbiology – Bachelor of Science in Microbiology
            </li>
            <li>
                B Sc Biotechnology – Bachelor of Science in Biotechnology
            </li>
            <li>
                B Sc Bio Chemistry – Bachelor of Science in Bio Chemistry
            </li>
            <li>
                B Sc – Nursing
            </li>
            <li>
                B Pharm – Bachelor in Pharmacy
            </li>
            <li>
                B.tech - Bachelor of Technology in Biotechnology
            </li>
            <li>
                B Sc Agriculture – Bachelor of Science in Agriculture
            </li>
            <li>
                B Sc Botany
            </li>
            <li>
                B Sc Zoology
            </li>
            <li>
                B Sc Home Science
            </li>
        </ul>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/mbbs.jpg"style="height:200px;width:100%;margin-top:120px;"title="Medical Students" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-family:'Monotype Corsiva';font-size:25px;font-weight:bold;">
           For PCB student myself, I would suggest them to think about the following careers for your future : 
        </h1>
        <ul style="font-size:21px;font-family:'Times New Roman';"type="square">
           <li>Doctor(Obvious choice for most of the PCB students).</li> 
            <li>Nurse</li>
            <li>Biotechnology(A booming field these days)</li>
            <li>Biomedical Engineer</li>
            <li>Pharmacist</li>
            <li>Embryologist</li>
            <li>Biology Teacher in Schools or Colleges</li>
            <li>Lab specialist</li>
</ul>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/doctors.jpg"style="height:200px;width:100%;"title="Doctors are second form of God" />
    </div>
</div>
