@{
    ViewBag.Title = "pcm";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="min-height:350px;background:url('../Content/imagesl/bbackmath.jpg');opacity:0.8;background-attachment:fixed;background-size:cover;padding-top:130px;text-align:center;">
        
        <span style="font-size:40px;font-family:'Times New Roman';color:white;background:black;opacity:0.8;">
            Physics Chemistry Maths
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Courses after 12th Science with PCM :
        </h1>
        <h1 style="font-family:'Times New Roman';font-size:21px;">
            A student having PCM in 12th standard can pursue his further study in engineering & technology, , architecture,
             law, management and 
            library science.There is large scope in PCM for hard-working students 
            they can try for IIT s for their complete development of 
            their profile ,accent ,knowledge and much more there are various fields they can choose for graduation : 
        </h1>
        <ul style="font-family:'Times New Roman';font-size:21px;">
            <li>
                Aeronautical Engineering
            </li>
            <li>
                 Automobile Engineering
            </li>
            <li>
                Civil Engineering
            </li>
            <li>
                Chemical Engineering
            </li>
            <li>
                Electrical & Electronics Engineering
            </li>
            <li>
                Mechanical Engineering
            </li>
            <li>
                Nuclear Engineering
            </li>
            <li>
                Mining Engineering
            </li>
            <li>
                Information Technology
            </li>
            <li>
                 Instrumentation & Control Engineering
            </li>
            <li>
                Print & Media Technology
            </li>
            <li>
                Bachelor of Architecture (B. Arch)
            </li>
            <li>
                Bachelor of Technology in Naval Architecture and Ship Building.
            </li>
        </ul>
        
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/ce.jpg"style="height:200px;width:100%;margin-top:80px;"title="Engineering" />

    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Bachelor of Science : 
        </h1>
        <h1 style="font-family:'Times New Roman';font-size:21px;">
          A PCM student can apply BSc in physics, chemistry, maths, astronomy, forensic Science, geology, statistics , industrial chemistry, nautical science, home science, 
            nutrition, clothing and textile, extension and communication, environmental science, 
            Human Development and Family studies (BSc),  fashion design, fashion technology, Naval Architecture and Ship Building etc.
        </h1>
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Railway Apprentice Exam : 
        </h1>
        <h1 style="font-family:'Times New Roman';font-size:21px;">
          A PCM student also can apply railway appprentice exam and the selected candidates get trained for four years, not just 
            in the field of mechanical and electrical engineering; they 
            are also groomed to take up leadership
             positions in the Indian Railways as Class 1 officers.
        </h1>
        
    </div>
    <div class="col-sm-3" style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/students.jpg"style="height:200px;width:100%;margin-top:50px;"title="Students" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Career in Mathematics : 
        </h1>
        <h1 style="font-family:'Times New Roman';font-size:21px;">
            Which subject do you find the most difficult? For maximum students, the answer to this question is Mathematics. But, for 
            those who love the subject, it is the easiest. If you are among such students, you can make a bright future in fields related to number, 
            data, and computation. A career in Data Science, Insurance, Banking, Stock market, Meteorology, etc. can be considered. Some of the top
             institutes offering a degree in Mathematics are Indian Statistical Institute, IIT Bombay, IISc Bangalore, 
            Institute of Mathematical Sciences, and Delhi Technological University, Delhi.
        </h1>
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Jobs directly related to your degree include:
        </h1>
        <ul style="font-family:'Times New Roman';font-size:21px;">
            <li>
                Acoustic consultant
            </li>
            <li>
                Chartered accountant
            </li>
            <li>
                Investment analysts
            </li>
            <li>
                Software engineer
            </li>
            <li>
                Research scientist (maths)
            </li>
            <li>
                Data analyst
            </li>
            <li>
                Software tester
            </li>
            <li>
                Financial manager
            </li>
            <li>
                Meteorologist
            </li>
        </ul>
    </div>
    <div class="col-sm-3" style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/fm.jpg"style="height:200px;width:100%;margin-top:100px;" title="Financial Management"/>
    </div>
</div>
