@{
    ViewBag.Title = "pvtsevt";
    Layout = "~/Views/Shared/second.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="background:url('../Content/imagesl/prisect.jpg');min-height:300px;text-align:center;opacity:0.9;padding-top:110px;background-attachment:fixed;background-size:100% 100%;">
        <span style="color:white;font-size:60px;font-family:'Times New Roman';background:black;opacity:0.6;">
            Private Sector
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">Private Sector :
            </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
        Private sector jobs have their pros and cons. Impressive salary packages, faster promotions and the opportunity to be on the cutting edge
         in your field of work are some advantages of private sector jobs. If you don’t mind long hours of work, meeting challenging deadlines and
         working in a competitive fast-paced environment, then a job in the private sector may be right for you. It is important, though, to be well-
        informed of both the advantages and 
        disadvantages before making a career decision.</h1>
        <h1 style="font-size:25px;font-family:'Monotype Corsiva';font-weight:bold;">
            The private sector employs most of the workforce in some countries. In private sector, activities are guided by the motive to earn money.
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
            Private company you’ve to work hard, promotion chances are high and Of-course you get a great chance to improve
             our lifestyle much better.
             So, the career within Private Sector is good.The new generation wants to attain job position in private undertaking and it because of
             salary increment approvals, 
            upper hierarchy, and other benefits.
        </h1>
    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;margin-top:50px;">
        <img src="~/Content/imagesl/pvtimg.jpg"style="height:200px;width:100%;"title="All people can become employed through private sector" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Enviorment of Private Sector :
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
            Work-culture of a private sector job is completely different; in private jobs your work profile changes 
            thus you make progress in your career. Moreover, the professionals or colleagues that you come to know while working for a 
            private job are excellent. You can always learn something new from them. The overall environment of a private job is very enabling. 
            On the contrary, this is totally missing in government jobs.

        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
            Majority of the private organization provided learning and self-development classes to 
            their employees which enable individual to work with their complete efficiency. This process increases the ability of the employee which
             leads to progress in a career in a number of ways including promotion, benefits and other opportunities.

        </h1>
          </div>
    <div class="col-sm-3"style="min-height:300px;">
        <img src="~/Content/imagesl/pvtemp.jpg"style="height:200px;width:100%;margin-top:50px;"title="Private Job's Employee" />
    </div>
</div>
<div class="row">
    <div class="col-sm-9"style="min-height:300px;height:auto;">
          <h1 style="font-size:30px;font-family:'Times New Roman';font-weight:bold;">
            Advantage of Private Sector :
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
            When you work in private sector then this sector give you a big chances to learn new technologies and in this stage there is full on compitision
            by which you encouraged to do something specical to create your unique value and durability in company.
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
             Working to tight deadlines with short lead times for projects is a feature in many commercial workplaces. Targets and tasks can provide 
            individuals with challenge and a fast pace.
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
            many commercial organisations look for new solutions and ways of working to provide a competitive edge, providing employees 
            with the opportunity to be creative and contribute their ideas.
        </h1>
        <h1 style="font-size:21px;font-family:'Times New Roman';">
             If you are keen to increase your earning potential, working in the private sector often provides higher salaries than other sectors, 
            particularly if you progress to senior positions.
        </h1>

    </div>
    <div class="col-sm-3"style="min-height:300px;height:auto;">
        <img src="~/Content/imagesl/sucpvt.jpg"style="height:200px;width:100%;margin-top:80px;"title="Teamwork is very important in private sector" />
    </div>
</div>