@{
    ViewBag.Title = "homem";
    Layout = "~/Views/Shared/general.cshtml";
}
<h1 style="color:white;text-shadow:0px 0px 0px black;text-align:center;font-size:40px;font-family:'Times New Roman';background:#4f4343;opacity:0.8;">
    Motivate Yourself for best career</h1>

<div class="row">
    <div class="col-sm-12 text-center hvr-shrink"style="min-height:300px;">
        <div class="row">
      <a href="~/Content/imagesl/careerw.jpg"><img src="~/Content/imagesl/Bills_581002882-small.jpg"style="height:300px;width:50%;border:2px double #4f4343" />
          
      </a>  
            </div>
    </div>
</div><br />

@*<div class="col-sm-12" style="min-height:200px;background-image:url('../Content/director.jpeg');background-size:100% 100%;padding:0px;">
    <div class="col-sm-12" style="background:rgba(23, 21, 21, 0.29) ;min-height:200px;padding:0px;">*@
<span style="font-size:27px;color:black;font-family:'Monotype Corsiva';font-weight:bold;">
    Don't Confuse with different carrier options Select Your Career according to your interest.</span>
<span style="font-size:27px;color:black;font-family:'Monotype Corsiva';font-weight:bold;">
    Eveything is possible in the world. Don't think that any thing is impossible because impossible means : <br />
    <span style="font-size:27px;color:#d84949;font-family:'Times New Roman';">
        "I'm possible"</span><br /></span>
<p style="font-size:27px;color:black;font-family:'Monotype Corsiva';font-style:italic;font-weight:bold;">
    Do Hard Work for Your real aim.So first of all you have to decide your real aim and then do hard work to achieve it.<br />
    You are not weak than others you have something specical thing in comparison of others and 
    don't live in this misunderstanding that anyone is weak in comparison of you everyone have something specical unique ability
    when they understand it they become what they want means that they achieve their real aim.<br />
       <span style="font-family:'Monotype Corsiva';font-size:27px;">"Decide your aims according to your interest not according to skopes"<br />
    "Don't affair with your problem because you are much bigger then your problems"</span>
    </p>
<div class="row">
    <div class="col-sm-4 hvr-shrink"style="min-height:300px;">
        <h1 style="font-size:25px;color:white;background:#e27373;opacity:0.7;font-family:Constantia;">Good Suggestion gives you best solution</h1>
      <a href="/Home/imggal"><img src="~/Content/imagesl/slider3.png"class="img-responsive" style="height:300px;width:100%;"title="Click here to see image gallery"/></a>  
    </div>
    <div class="col-sm-4 hvr-shrink"style="min-height:300px;">
        <h1 style="font-size:25px;color:white;background:#e27373;opacity:0.7;font-family:Constantia;">Our services gives you expert's advice and suggestion</h1>
        <a href="/Home/registration"><img src="~/Content/imagesl/training.jpg"class="img-responsive"style="height:300px;width:100%;"title="Click here for registration" /></a> 
    </div>
    <div class="col-sm-4 hvr-shrink"style="min-height:300px;">
        <h1 style="font-size:25px;color:white;background:#e27373;opacity:0.7;font-family:Constantia;">Suport and gidance is very important for career</h1>
       <a href="/Home/login"><img src="~/Content/imagesl/slider4.jpg"class="img-responsive "style="height:300px;width:100%;"title="Click here for Login" /></a> 
    </div>
</div><br />

<h1 style="color:yellow;text-shadow:2px 2px 2px black;text-align:center;font-size:50px;font-family:'Times New Roman';">
    Our Services</h1>
<p style="font-size:27px;color:black;font-family:'Monotype Corsiva';font-weight:bold;">
    We used a combination of surveys, focus groups, and one-on-one interviews to gather information from students, Trainers, HR Manager, 
    Development companies and many more.
     After gathering requirements we have decided the following aims and objectives of Career Guidance web portal:
    <ul style="font-size:27px;font-family:'Monotype Corsiva';color:black;font-weight:bold;">
        <li>
            To provide anytime/ anywhere Online Information related to your Career guidance.
        </li>
        <li>
	Enabling knowledge sharing at lower economies.
        </li>
        <li>
            	Cost less and valuable Information on a click.
        </li>
        <li>
            	Event Notification and Latest Information Related to Career world.
        </li>
        <li>
            	To provide best Education, best Support, and Suggestion.
        </li>
        <li>
            	Organize the placement activities for registered user.
        </li>
        <li>
            	Easily accessible from any corner of the world if you have internet connection.
        </li>
        <li>
            	To provide online discussion board, between all registered User and Admin. 
        </li>
    </ul>
</p>
@*<div class="row">
    <div class="col-sm-12"style="background:#4f4343;min-height:50px;text-align:center;opacity:0.8;">
        <h1 style="color:white;font-size:40px;font-family:'Monotype Corsiva';">Some carrier Guidelines</h1>
    </div></div><br />
<div class="row">
            <div class="col-sm-4" style="min-height:200px;">
        <video src="~/Content/imagesl/World's%20Best%20Motivational%20Video%20-%20By%20Sandeep%20Maheshwari%20I%20Hindi.mp4" 
            controls="controls"title="click"style="min-height:200px;width:100%;" />
    </div>
    
    <div class="col-sm-4" style="min-height:200px;">
                <video src="~/Content/imagesl/World's%20Best%20Motivational%20Video%20-%20By%20Sandeep%20Maheshwari%20I%20Hindi.mp4" 
            controls="controls"style="min-height:200px;width:100%;" />
    </div>
    <div class="col-sm-4" style="min-height:200px;">
                <video src="~/Content/imagesl/World's%20Best%20Motivational%20Video%20-%20By%20Sandeep%20Maheshwari%20I%20Hindi.mp4" 
            controls="controls"style="min-height:200px;width:100%;" />
    </div>

</div>*@

    @*</div>
    </div>*@

    