@{
    ViewBag.Title = "imggal";
    Layout = "~/Views/Shared/general.cshtml";
}
@*class="img img-responsive img-circle"*@
<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
        <a href="~/Content/imagesl/Computer Science 1.jpg"><img src="~/Content/imagesl/Computer Science 1.jpg" style="height:250px;width:100%;border:2px double orange;"/></a>
</div>
        <span style="font-size:20px;color:white;">Bright Carrier in Computer Science</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
            <a href="~/Content/imagesl/law.jpg"><img src="~/Content/imagesl/law.jpg" style="height:250px;width:100%;border:2px double orange;"/>

            </a>
        </div>
        <span style="font-size:20px;color:white;">Golden Carrier in Law</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
      <a href="~/Content/imagesl/bs.png"><img src="~/Content/imagesl/bs.png"style="height:250px;width:100%;border:2px double orange;" /></a>  
        </div>
        <span style="font-size:20px;color:white;">Perfessional Career in B.tech</span>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
            
            <a href="~/Content/imagesl/medical.jpg"><img src="~/Content/imagesl/medical.jpg" style="height:250px;width:100%;border:2px double orange;"/></a>
        </div>
        <span style="font-size:20px;color:white;">Bright Career in Medical</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        
        <div class="row">
        <a href="~/Content/b3.jpg"><img src="~/Content/b3.jpg" style="height:250px;width:100%;border:2px double orange;"/></a>
</div>
        <span style="font-size:20px;color:white;">Golden Career in Food decoration</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
      <a href="~/Content/imagesl/teaching.jpg"><img src="~/Content/imagesl/teaching.jpg"style="height:250px;width:100%;border:2px double orange;" /></a>  
        </div>
        <span style="font-size:20px;color:white;">Great Career in Teaching</span>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
            <a href="~/Content/imagesl/fd.jpeg"><img src="~/Content/imagesl/fd.jpeg" style="height:250px;width:100%;border:2px double orange;"/></a>
        </div>
        <span style="font-size:20px;color:white;">Bright Career in Fashion Designing</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        
        <div class="row">
        <a href="~/Content/imagesl/bcom.jpg"><img src="~/Content/imagesl/bcom.jpg" style="height:250px;width:100%;border:2px double orange;"/></a>
</div>
        <span style="font-size:20px;color:white;">Best Analysis decide your bright future</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" style="background:#e03434;min-height:300px;margin-top:50px;">
        <div class="row">
      <a href="~/Content/imagesl/painting.jpg"><img src="~/Content/imagesl/painting.jpg"style="height:250px;width:100%;border:2px double orange;" /></a>  
        </div>
        <span style="font-size:20px;color:white;">Golden Carrier in Painting</span>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-12"style="min-height:50px;"></div>
</div>